{% load static %}
<div class="container">
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-sm-1 col-md-1 col-lg-1">
            <a href="{% url 'home' %}" class="btn btn-block btn-primary d-flex justify-content-center" role="button">全部</a>                       
            <a href="{% url 'home' %}" class="btn btn-block btn-primary d-flex justify-content-center" role="button">討論區</a>
            <a href="{% url 'chat' %}" class="btn btn-block btn-primary d-flex justify-content-center" role="button">隨機聊天</a>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h2 class="card-title"> {{ post.title }} </h2>
                            </div>
                            {% if request.user.username == post.author %}
                                <div>
                                    <a href="/delete/{{ post.slug }}" class="btn btn-danger text-white">刪除</a>
                                    <a href="/editor/{{ post.slug }}" class="btn btn-danger text-white">修改</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <small class="card-subtitle"> {{ post.pub_date }} </small>
                    <div class="mt-2">
                        {{ post.body | safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>
